:root{
    --gray: #eaeaea ;
    --dark-gray:#262626;
    --radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    flex-shrink: 0;
    padding: 60px;
    width: 40vw;
}

.image, .image a{
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--dark-gray);
}

.container{
    font-size: 1rem;
    color: var(--dark-gray);
    background-color: #fce399;

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.body{
    flex: 1;
    width: 60vw;
    padding: 60px;
    background-color: white;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.body h1{
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

/*Joy or Concern Button*/

#jc{
    position: relative;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 26px;
    border-radius: 12px;
    border: 1px solid var(--dark-gray);
    background: var(--gray);
    transition: all 0.4s;
}

label[for="jc"] {
    align-items: center;
    display: flex;
    gap: 10px;
}

input[type="checkbox"]::before {
    width: 15px;
    height: 15px;
    border-radius: 9px;
    background-color: var(--dark-gray);
    content: '';
    position: absolute;
    top: 4px;
    left: 10%;
    transition: all 0.4s;
  }

  input[type="checkbox"]:checked {
    background-color: #cacaca;
    transition: all 0.4s;
  }

  input[type="checkbox"]:checked::before {
    left: 60%;
    transition: all 0.4s;
  }

/*Form */

.form{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 20px 0;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 40%;
}

input, select{
    border-radius: var(--radius);
    border: 1px solid var(--dark-gray);
    padding-left: 10px;
    appearance: none;
}

.form-row > legend {
    font-size: 0.8rem;
    margin-top: 5px;
}

.form-textarea {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: calc(80% + 20px);
}

input[type="textarea"] {
    height: auto;
}

button{
    padding: 10px;
}

.valid{
    background-color: rgb(234, 255, 223);
}

.invalid{
    background-color: rgb(255, 223, 223);
}

